@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
* {
  font-family: "DM Sans", sans-serif;
}

body {
  max-width: 1440px;
  margin: auto;
}
body > * {
  margin: 42px 5% 0 5%;
  cursor: default;
}

#medias-tags button {
  border: 0.5px solid #C4C4C4;
  border-radius: 11px;
  height: 22px;
  color: #901C1C;
  font-weight: 600;
  background-color: #FFF;
  font-size: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#tags-list button {
  border: 0.5px solid #C4C4C4;
  border-radius: 11px;
  height: 22px;
  color: #901C1C;
  font-weight: 600;
  background-color: #FFF;
  font-size: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#artist #contact {
  position: fixed;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #901C1C;
  color: #fff;
  padding: 5px 18px 7px 18px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
#artist #contact:hover, #artist #contact:focus {
  background-color: #DB8876;
  color: #000;
}
@media all and (min-width: 992px) {
  #artist #contact {
    position: absolute;
    width: 170px;
    height: 69px;
    font-size: 20px;
    padding: 0;
    bottom: 57%;
    left: 50%;
  }
}

.bground {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(196, 196, 196, 0.4);
}
.bground .content {
  margin: auto;
  max-width: 600px;
  min-height: 745px;
  background: #D3573C;
  border-radius: 5px;
  position: relative;
  box-shadow: -5px 10px 30px rgba(0, 0, 0, 0.25);
}
@media all and (min-width: 992px) {
  .bground .content {
    padding-bottom: 40px;
    margin: 1.5% auto;
  }
}
.bground .content .close {
  position: absolute;
  right: 27px;
  top: 20px;
  cursor: pointer;
}
@media all and (min-width: 992px) {
  .bground .content .close {
    right: 40px;
  }
}
.bground .content .close:before, .bground .content .close:after {
  position: absolute;
  content: " ";
  height: 18.7px;
  width: 2px;
  background-color: #fff;
}
@media all and (min-width: 992px) {
  .bground .content .close:before, .bground .content .close:after {
    height: 42px;
    width: 3px;
  }
}
.bground .content .close:before {
  transform: rotate(45deg);
}
.bground .content .close:after {
  transform: rotate(-45deg);
}
.bground .content .modal-body {
  padding: 20px 4%;
}
.bground .content .modal-body .form-text {
  font-size: 36px;
  margin-bottom: 10px;
}
.bground .content .modal-body label {
  font-size: 24px;
  display: inline-block;
  margin: 11px 0 4px 0;
}
.bground .content .modal-body input {
  padding: 8px;
  border: 0.8px solid #FAFAFA;
  outline: none;
}
.bground .content .modal-body .text-control {
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  font-size: 15px;
  height: 48px;
}
.bground .content .modal-body #message {
  padding: 8px;
  border-radius: 8px;
  font-size: 15px;
  min-width: 100%;
  max-width: 100%;
  min-height: 170px;
  max-height: 184px;
  border: 0.8px solid #FAFAFA;
}
@media all and (min-width: 992px) {
  .bground .content .modal-body .form-text {
    font-size: 54px;
  }
  .bground .content .modal-body label {
    font-size: 37px;
  }
}
.bground .content .btn-submit {
  background: #901C1C;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  width: 170px;
  height: 35px;
  color: #fff;
  cursor: pointer;
  border: none;
}
@media all and (min-width: 992px) {
  .bground .content .btn-submit {
    margin: 0 0 0 4%;
    height: 59px;
  }
}

#header img {
  width: 150px;
  height: 37.5px;
}
@media all and (min-width: 992px) {
  #header img {
    width: 200px;
    height: 50px;
  }
}

#main-photographer {
  margin-top: 30px;
}
#main-photographer #artist {
  position: relative;
}
@media all and (min-width: 576px) {
  #main-photographer #artist {
    background-color: #FAFAFA;
    padding: 50px;
  }
}
#main-photographer #artist img {
  position: absolute;
  right: 4%;
  top: auto;
  object-fit: cover;
  border-radius: 100%;
  height: 100px;
  width: 100px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}
@media all and (min-width: 992px) {
  #main-photographer #artist img {
    height: 200px;
    width: 200px;
    right: 4%;
  }
}
#main-photographer #artist h2 {
  color: #D3573C;
  font-weight: 400;
  font-size: 36px;
  margin: 20px 0 0 0;
}
@media all and (min-width: 992px) {
  #main-photographer #artist h2 {
    font-size: 64px;
    margin: 0;
  }
}
#main-photographer #artist #localisation {
  color: #901C1C;
  font-size: 13px;
  margin: 0 0 4px 0;
}
@media all and (min-width: 992px) {
  #main-photographer #artist #localisation {
    font-size: 24px;
    margin: 0 0 19px 0;
  }
}
#main-photographer #artist #tagline {
  font-size: 13px;
  margin: 0 0 2px 0;
  color: #525252;
}
@media all and (min-width: 992px) {
  #main-photographer #artist #tagline {
    font-size: 18px;
    margin: 0 0 15px 0;
  }
}
#main-photographer #artist #tags-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 250px;
}
@media all and (min-width: 992px) {
  #main-photographer #artist #tags-list {
    max-width: 500px;
  }
}
#main-photographer #artist #tags-list #list-tags {
  margin: 5px 5px 0 0;
}
@media all and (min-width: 992px) {
  #main-photographer #artist #tags-list #list-tags {
    font-size: 18px;
    height: 24px;
    width: 99px;
    font-weight: 500;
  }
}
#main-photographer #sort-list {
  font-weight: 700;
  font-size: 18px;
}
#main-photographer #sort-list #sort-by {
  background-color: #901C1C;
  color: #fff;
  border: none;
  height: 60px;
  width: 170px;
  border-radius: 5px;
  margin: 9px 0 48px 25px;
  font-size: 18px;
}
#main-photographer #sort-list #sort-by > * {
  font-size: 18px;
}
#main-photographer #media-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2%;
}
@media all and (max-width: 1215px) {
  #main-photographer #media-section {
    display: flex;
    justify-content: center;
    gap: 10%;
  }
}
#main-photographer #media-section article {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
}
#main-photographer #media-section article #media-image {
  width: 100%;
  height: 0;
  min-height: 190px;
  max-height: 300px;
  object-fit: cover;
  object-position: 50% 30%;
  border-radius: 5px;
  transition: 500ms ease;
}
@media all and (min-width: 992px) {
  #main-photographer #media-section article #media-image {
    height: 100%;
  }
}
#main-photographer #media-section article #media-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#main-photographer #media-section article #media-text h2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9rem;
  color: #901C1C;
  margin: 10px 0 10px 0;
  font-weight: 400;
}
@media all and (min-width: 992px) {
  #main-photographer #media-section article #media-text h2 {
    font-size: 24px;
    margin: 10px 0 30px 0;
  }
}
#main-photographer #media-section article #media-text span {
  cursor: pointer;
  font-size: 0.9rem;
  color: #901C1C;
  font-weight: 500;
  margin: 10px 0 10px 0;
}
@media all and (min-width: 992px) {
  #main-photographer #media-section article #media-text span {
    font-size: 24px;
    margin: 10px 0 30px 0;
  }
  #main-photographer #media-section article #media-text span:hover {
    transform: scale(1.1);
  }
}
#main-photographer #media-section article #media-text span img {
  margin-left: 4.5px;
  width: 11.5px;
  height: 10.2px;
}
@media all and (min-width: 992px) {
  #main-photographer #media-section article #media-text span img {
    width: 18.5px;
    height: 17px;
  }
}
#main-photographer .popup-text {
  position: fixed;
  bottom: -5px;
  right: 2%;
  background-color: #db8876;
  width: 376px;
  height: 60px;
  border-radius: 5px;
  font-size: 24px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.5s ease-in-out;
}
@media all and (max-width: 992px) {
  #main-photographer .popup-text {
    bottom: -60px;
  }
}
#main-photographer .popup-text .likes-total img {
  margin-left: 5px;
  width: 18.5px;
  height: 18px;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media all and (min-width: 992px) {
  header {
    flex-wrap: nowrap;
    gap: 50px;
  }
}
header #medias-tags {
  display: flex;
  justify-content: center;
  order: 3;
  flex-wrap: wrap;
  width: 100%;
  gap: 5px;
  margin-top: 38px;
}
@media all and (min-width: 992px) {
  header #medias-tags {
    order: unset;
    margin-top: 0;
    min-width: 290px;
  }
}
header .text {
  font-weight: 400;
  font-size: 14px;
  font-weight: 500;
  color: #901C1C;
}
@media all and (min-width: 992px) {
  header .text {
    font-size: 36px;
    white-space: nowrap;
    margin: 0;
  }
}

@media all and (min-width: 992px) {
  #main-index {
    display: grid;
    grid-template-columns: repeat(3, 301px);
    max-width: 100%;
    justify-content: space-between;
    margin-top: 100px;
  }
}
#main-index article {
  text-align: center;
}
#main-index article a {
  cursor: pointer;
  text-decoration: none;
}
#main-index article h2 {
  color: #D3573C;
  font-weight: 400;
  font-size: 36px;
  margin: 20px 0 0 0;
}
#main-index article #localisation {
  color: #901C1C;
  font-size: 13px;
  margin: 0 0 3px 0;
}
#main-index article #tagline {
  font-size: 10px;
  margin: 0 0 3px 0;
}
#main-index article #price {
  font-size: 9px;
  color: #757575;
  margin: 3px 0 6px 0;
}
#main-index article #tags-list {
  display: flex;
  justify-content: center;
  margin: 0 0 42px 0;
  gap: 5px;
  padding: 0;
}
#main-index img {
  object-fit: cover;
  border-radius: 100%;
  height: 200px;
  width: 200px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

/*# sourceMappingURL=style.css.map */
