@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
* {
  font-family: "DM Sans", sans-serif;
}

body {
  max-width: 1440px;
  margin: auto;
}
body > * {
  margin: 42px 5% 0 5%;
  cursor: default;
}

#medias-tags button {
  border: 0.5px solid #c4c4c4;
  border-radius: 11px;
  height: 22px;
  color: #901C1C;
  font-weight: 600;
  background-color: #fff;
  font-size: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
#medias-tags button:hover, #medias-tags button:focus {
  background-color: #901C1C;
  color: #fff;
}

#tags-list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
#tags-list button {
  border: 0.5px solid #c4c4c4;
  border-radius: 11px;
  height: 22px;
  color: #901C1C;
  font-weight: 600;
  background-color: #fff;
  font-size: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
#tags-list button:hover, #tags-list button:focus {
  background-color: #901C1C;
  color: #fff;
}
#tags-list li {
  border: 0.5px solid #c4c4c4;
  border-radius: 11px;
  height: 22px;
  color: #901C1C;
  font-weight: 600;
  background-color: #fff;
  font-size: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  padding: 0 5px;
}
#tags-list li:hover, #tags-list li:focus {
  background-color: #901C1C;
  color: #fff;
}

#artist #contact {
  position: fixed;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #901C1C;
  color: #fff;
  padding: 5px 18px 7px 18px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  z-index: 2;
}
#artist #contact:hover, #artist #contact:focus {
  background-color: #DB8876;
  color: #000;
}
@media all and (min-width: 992px) {
  #artist #contact {
    position: absolute;
    width: 170px;
    height: 69px;
    font-size: 20px;
    padding: 0;
    bottom: 25%;
    left: 60%;
  }
}

.content-link {
  transition: transform 0.3s;
  background: #911c1c;
  color: #fff;
  font-weight: 700;
  left: 41%;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  transform: translateY(-400%);
  text-decoration: none;
}
.content-link:focus {
  background-color: #DB8876;
  color: #000;
}

.content-link:focus-within {
  transform: translateY(-250%);
}

#header img {
  width: 150px;
  height: 37.5px;
}
@media all and (min-width: 992px) {
  #header img {
    width: 200px;
    height: 50px;
  }
}

#main-photographer {
  margin-top: 30px;
}
#main-photographer #artist {
  position: relative;
  margin-bottom: 30px;
}
@media all and (min-width: 576px) {
  #main-photographer #artist {
    background-color: #FAFAFA;
    padding: 50px;
  }
}
#main-photographer #artist img {
  position: absolute;
  right: 4%;
  top: auto;
  object-fit: cover;
  border-radius: 100%;
  height: 100px;
  width: 100px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}
@media all and (min-width: 992px) {
  #main-photographer #artist img {
    height: 200px;
    width: 200px;
    right: 4%;
  }
}
#main-photographer #artist h2 {
  color: #D3573C;
  font-weight: 400;
  font-size: 36px;
  margin: 20px 0 0 0;
  max-width: 200px;
}
@media all and (min-width: 992px) {
  #main-photographer #artist h2 {
    font-size: 64px;
    margin: 0;
    max-width: 100%;
  }
}
#main-photographer #artist #localisation {
  color: #901C1C;
  font-size: 13px;
  margin: 0 0 4px 0;
}
@media all and (min-width: 992px) {
  #main-photographer #artist #localisation {
    font-size: 24px;
    margin: 0 0 19px 0;
  }
}
#main-photographer #artist #tagline {
  font-size: 13px;
  margin: 0 0 2px 0;
  color: #525252;
}
@media all and (min-width: 992px) {
  #main-photographer #artist #tagline {
    font-size: 18px;
    margin: 0 0 15px 0;
  }
}
#main-photographer #artist #tags-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 250px;
}
@media all and (min-width: 992px) {
  #main-photographer #artist #tags-list {
    max-width: 500px;
  }
}
#main-photographer #artist #tags-list #list-tags {
  margin: 5px 5px 0 0;
}
@media all and (min-width: 992px) {
  #main-photographer #artist #tags-list #list-tags {
    font-size: 18px;
    padding: 1px 10px;
    font-weight: 500;
  }
}
@media all and (max-width: 992px) {
  #main-photographer #dropdown {
    display: none;
  }
}
#main-photographer #dropdown #sort-list {
  font-weight: 700;
  font-size: 18px;
}
#main-photographer #dropdown #sort-by {
  background-color: #901C1C;
  color: #fff;
  border: none;
  height: 60px;
  width: 170px;
  border-radius: 5px;
  margin: 9px 0 48px 25px;
  font-size: 18px;
}
#main-photographer #dropdown #sort-by > * {
  font-size: 18px;
}
#main-photographer #media-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2%;
}
@media all and (max-width: 1215px) {
  #main-photographer #media-section {
    display: flex;
    justify-content: center;
    gap: 10%;
  }
}
#main-photographer #media-section article {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
  text-decoration: none;
}
#main-photographer #media-section article #media-image,
#main-photographer #media-section article #media-video {
  cursor: pointer;
  width: 100%;
  height: 190px;
  max-height: 300px;
  object-fit: cover;
  object-position: 50% 30%;
  border-radius: 5px;
  transition: 500ms ease;
}
@media all and (min-width: 992px) {
  #main-photographer #media-section article #media-image,
#main-photographer #media-section article #media-video {
    height: 300px;
  }
}
#main-photographer #media-section article #media-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}
#main-photographer #media-section article #media-text h2 {
  max-width: 270px;
  font-size: 0.9rem;
  color: #901C1C;
  margin: 10px 0 10px 0;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media all and (min-width: 992px) {
  #main-photographer #media-section article #media-text h2 {
    font-size: 24px;
    margin: 10px 0 30px 0;
  }
}
#main-photographer #media-section article #media-text button {
  cursor: pointer;
  font-size: 0.9rem;
  color: #901C1C;
  font-weight: 500;
  margin: 10px 0 10px 0;
  border: none;
  background: none;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
#main-photographer #media-section article #media-text button p {
  margin: 0;
}
@media all and (min-width: 992px) {
  #main-photographer #media-section article #media-text button {
    font-size: 24px;
    margin: 10px 0 30px 0;
  }
}
#main-photographer #media-section article #media-text button img {
  margin-left: 4.5px;
  width: 11.5px;
  height: 10.2px;
}
@media all and (min-width: 992px) {
  #main-photographer #media-section article #media-text button img {
    width: 18.5px;
    height: 17px;
  }
}
#main-photographer .popup-text {
  position: fixed;
  bottom: -5px;
  right: 2%;
  background-color: #db8876;
  width: 376px;
  height: 60px;
  border-radius: 5px;
  font-size: 24px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.5s ease-in-out;
}
@media all and (max-width: 992px) {
  #main-photographer .popup-text {
    bottom: -60px;
  }
}
#main-photographer .popup-text .likes-total img {
  margin-left: 5px;
  width: 18.5px;
  height: 17px;
}

.bground {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(196, 196, 196, 0.4);
  z-index: 11;
}
.bground .content {
  margin: auto;
  position: relative;
  max-width: 600px;
  width: 100%;
  min-height: 812px;
  background: #DB8876;
  border-radius: 5px;
  box-shadow: -5px 10px 30px rgba(0, 0, 0, 0.25);
}
@media all and (min-width: 992px) {
  .bground .content {
    padding-bottom: 40px;
    margin: 1.5% auto;
  }
}
.bground .content .close {
  background: url(../img/logo/close-modal.png) center center/100% 100%;
  position: absolute;
  right: 26px;
  top: 26px;
  cursor: pointer;
  height: 19px;
  width: 19px;
  border: none;
}
@media all and (min-width: 992px) {
  .bground .content .close {
    height: 35px;
    width: 35px;
  }
}
.bground .content .modal-body #reserve {
  padding: 20px 22px 12px 15px;
}
.bground .content .modal-body #reserve .form-text {
  font-size: 36px;
  margin-bottom: 15px;
}
@media all and (min-width: 992px) {
  .bground .content .modal-body #reserve .form-text {
    font-size: 55px;
  }
}
.bground .content .modal-body #reserve .formData {
  max-width: 100%;
  width: 100%;
  margin-bottom: 14px;
}
.bground .content .modal-body #reserve .formData label {
  font-size: 24px;
}
@media all and (min-width: 992px) {
  .bground .content .modal-body #reserve .formData label {
    font-size: 30px;
  }
}
.bground .content .modal-body #reserve .formData .text-control {
  margin-top: 5px;
  height: 52px;
  max-width: 100%;
  min-width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
}
.bground .content .modal-body #reserve .formData .message {
  height: 184px;
}
.bground .content .btn-submit {
  background: #901C1C;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  width: 170px;
  height: 35px;
  color: #fff;
  cursor: pointer;
  border: none;
}
@media all and (min-width: 992px) {
  .bground .content .btn-submit {
    margin: 0 0 0 4%;
    height: 59px;
  }
}

.lightbox.fadeOut {
  opacity: 0;
}

.lightbox {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  transition: opacity 0.3s;
  z-index: 11;
}
.lightbox .lightbox-container {
  border-radius: 5px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 1050px;
  padding: 0 40px;
}
@media all and (min-width: 992px) {
  .lightbox .lightbox-container {
    padding: 0 100px;
  }
}
.lightbox .lightbox-container img,
.lightbox .lightbox-container video {
  background-color: #c4c4c4;
  width: 289px;
  max-width: 100%;
  height: 248px;
  object-fit: cover;
  object-position: 50% 30%;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
@media all and (min-width: 576px) and (max-width: 992px) {
  .lightbox .lightbox-container img,
.lightbox .lightbox-container video {
    width: 670px;
    height: 575px;
  }
}
@media all and (min-width: 992px) {
  .lightbox .lightbox-container img,
.lightbox .lightbox-container video {
    width: 1050px;
    height: 900px;
  }
}
.lightbox .next {
  background: url(../img/logo/right.png) center center/100% 100%;
  width: 12px;
  border: none;
  position: fixed;
  cursor: pointer;
  top: 50%;
  right: 20px;
  height: 16px;
}
.lightbox .next:hover {
  transform: scale(1.1);
}
@media all and (min-width: 992px) {
  .lightbox .next {
    height: 48px;
    width: 30px;
    right: 60px;
  }
}
.lightbox .prev {
  background: url(../img/logo/left.png) center center/100% 100%;
  width: 12px;
  border: none;
  position: fixed;
  cursor: pointer;
  left: 20px;
  top: 50%;
  height: 16px;
}
.lightbox .prev:hover {
  transform: scale(1.1);
}
@media all and (min-width: 992px) {
  .lightbox .prev {
    height: 48px;
    width: 30px;
    left: 60px;
  }
}
.lightbox .close {
  background: url(../img/logo/close.png) center center/100% 100%;
  width: 12px;
  border: none;
  position: fixed;
  cursor: pointer;
  height: 12px;
  top: 36.5%;
  right: 20px;
}
.lightbox .close:hover {
  transform: scale(1.1);
}
@media all and (min-width: 992px) {
  .lightbox .close {
    height: 42px;
    width: 42px;
    right: 50px;
    top: 40px;
  }
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media all and (min-width: 992px) {
  header {
    flex-wrap: nowrap;
    gap: 50px;
  }
}
header #medias-tags {
  display: flex;
  justify-content: center;
  order: 3;
  flex-wrap: wrap;
  width: 100%;
  gap: 5px;
  margin-top: 38px;
}
@media all and (min-width: 992px) {
  header #medias-tags {
    order: unset;
    margin-top: 0;
    min-width: 290px;
  }
}
header .text {
  font-weight: 400;
  font-size: 14px;
  font-weight: 500;
  color: #901C1C;
}
@media all and (min-width: 992px) {
  header .text {
    font-size: 36px;
    white-space: nowrap;
    margin: 0;
  }
}

@media all and (min-width: 992px) {
  #main-index {
    display: grid;
    grid-template-columns: repeat(3, 301px);
    max-width: 100%;
    justify-content: space-between;
    margin-top: 100px;
  }
}
#main-index article {
  text-align: center;
}
#main-index article a {
  cursor: pointer;
  text-decoration: none;
}
#main-index article h2 {
  color: #D3573C;
  font-weight: 400;
  font-size: 36px;
  margin: 20px 0 0 0;
}
#main-index article #localisation {
  color: #901C1C;
  font-size: 13px;
  margin: 0 0 3px 0;
}
#main-index article #tagline {
  font-size: 10px;
  margin: 0 0 3px 0;
}
#main-index article #price {
  font-size: 9px;
  color: #757575;
  margin: 3px 0 6px 0;
}
#main-index article #tags-list {
  display: flex;
  justify-content: center;
  margin: 0 0 42px 0;
  gap: 5px;
}
#main-index img {
  object-fit: cover;
  border-radius: 100%;
  height: 200px;
  width: 200px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

/*# sourceMappingURL=style.css.map */
