.lightbox.fadeOut {
  opacity: 0;
}

.lightbox {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255);
  transition: opacity 0.3s;
  z-index: 11;

  .lightbox-container {
    border-radius: 5px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 1050px;
    padding: 0 40px;

    @media all and (min-width: $breakpoint-desktop) {
      padding: 0 100px;
    }

    h2 {
      font-size: 14px;
      line-height: 18px;
      color: $color-primary;
      margin-bottom: 0;
      font-weight: 400;

      @media all and (min-width: $breakpoint-desktop) {
        font-size: 24px;
        line-height: 31px;
      }
    }

    img,
    video {
      background-color: #c4c4c4;
      width: 289px;
      max-width: 100%;
      height: 248px;
      object-fit: cover;
      object-position: 50% 30%;
      box-shadow: $profile-picture-shadow;
      border-radius: 5px;

      @media all and (min-width: 576px) and (max-width: $breakpoint-desktop) {
        width: 670px;
        height: 575px;
      }

      @media all and (min-width: $breakpoint-desktop) {
        width: 1050px;
        height: 800px;
      }
    }
  }

  .next {
    background: url(../img/logo/right.png) center center / 100% 100%;
    @include lightbox-buttons;
    top: 50%;
    right: 20px;
    height: 16px;

    @media all and (min-width: $breakpoint-desktop) {
      height: 48px;
      width: 30px;
      right: 60px;
    }
  }

  .prev {
    background: url(../img/logo/left.png) center center / 100% 100%;
    @include lightbox-buttons;
    left: 20px;
    top: 50%;
    height: 16px;

    @media all and (min-width: $breakpoint-desktop) {
      height: 48px;
      width: 30px;
      left: 60px;
    }
  }

  .close {
    background: url(../img/logo/close.png) center center / 100% 100%;
    @include lightbox-buttons;
    height: 12px;
    top: 36.5%;
    right: 20px;

    @media all and (min-width: $breakpoint-desktop) {
      height: 42px;
      width: 42px;
      right: 50px;
      top: 40px;
    }
  }
}
