.lightbox.fadeOut {
  opacity: 0;
}

.lightbox {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255);
  transition: opacity 0.3s;
  z-index: 11;

  .lightbox-container {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    min-height: 100vh;
    max-width: 1050px;

    img,
    video {
      width: 289px;
      max-width: 100%;
      height: 248px;
      object-fit: cover;
      object-position: 50% 30%;
      box-shadow: $profile-picture-shadow;
      border-radius: 5px;

      @media all and (min-width: $breakpoint-desktop) {
        width: 1050px;
        height: 900px;
      }
    }
  }

  .next {
    background: url(../img/logo/right.png) center center / 100% 100%;
    @include lightbox-buttons;
    top: 50%;
    right: 25px;
    height: 16px;

    @media all and (min-width: $breakpoint-desktop) {
      height: 48px;
      width: 30px;
      right: 350px;
    }
  }

  .prev {
    background: url(../img/logo/left.png) center center / 100% 100%;
    @include lightbox-buttons;
    left: 25px;
    top: 50%;
    height: 16px;

    @media all and (min-width: $breakpoint-desktop) {
      height: 48px;
      width: 30px;
      left: 350px;
    }
  }

  .close {
    background: url(../img/logo/close.png) center center / 100% 100%;
    @include lightbox-buttons;
    height: 12px;
    top: 36.5%;
    right: 25px;

    @media all and (min-width: $breakpoint-desktop) {
      height: 42px;
      width: 42px;
      right: 350px;
      top: 40px;
    }
  }
}
