// Colors

$color-primary: #901C1C;
$color-secondary: #DB8876;
$color-tertiary-font: #525252;
$color-tertiary-background: #FAFAFA;

// Fonts

$font: "DM Sans", sans-serif;

// shadows

$profile-picture-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);

// breakpoints

$breakpoint-desktop: 992px;

